/* Demo.css */
.demo {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    .banner {
        display: flex;
        background-color: #099;
        color: white;
        padding: 5px;
    }
}