.basicBtn {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

.basicBtn:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.05);
    color: black;
}
