.helloContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .welcomeDialog
    {
        position: fixed;
        width: 40vw;
        border-radius: 10px;
        z-index: 2;
        color: rgba(255, 255, 255, 0.75);
        box-shadow: rgb(38, 38, 38) 0px 1px 0px 0px inset;
        border: 0.5px solid rgb(31, 31, 31);
        background-color: #1a1a1a;
        .dialogButtonContainer
        {
        display: flex;
        justify-content: center;
    }
    }
    .form {
        display: flex;
        flex-direction: column;
        width: 40vw;
        height: 60vh;
        padding: 20px;
        border-radius: 11px;
        position: relative;    
        box-shadow: rgb(38, 38, 38) 0px 1px 0px 0px inset;
        border: 0.5px solid rgb(31, 31, 31);
        transition: transform 0.3s ease; 
        background-color: #1a1a1a;
        .instructions {
            font-size: 1rem;
            margin-bottom: 5%;
        }
    }
    .form:hover {
        transform: scale(1.02);
        transition: transform 0.3s ease;
    }
    .blurred {
        filter: blur(20px);
    }
}

